	html, body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#648eb7+0,035170+100 */
	background: rgb(100,142,183); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(100,142,183,1) 0%, rgba(3,81,112,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(100,142,183,1) 0%,rgba(3,81,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(100,142,183,1) 0%,rgba(3,81,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#648eb7', endColorstr='#035170',GradientType=0 ); /* IE6-9 */

	background-repeat: no-repeat;
	height: 100%;
}
.navbar-default{
	background: rgba(192, 192, 192, 0);
	border-color: rgba(192, 192, 192, 0);
}

.navbar-default .navbar-brand {
    color: #efefef;
    font-size: 1.2em;
}

.navbar-default .navbar-brand:hover {
	color: #efefef;
	font-size: 1.5em;
}

.navbar-brand {
	margin-right: 25px;
}

.notepad-yellow {
	background: #fae596;  
	/* #FFF9A0; */
	padding: 10px;
}

#task-list {
	padding: 10px;
}

.task {
	padding-left: 5px;
}

.task:not(:last-child) {
	border-bottom: 1.5px dashed #23527C;
}

.titleText {
	font-family: 'Syncopate', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.bodyText {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4em;
}
.tasks-link h1 {
	font-family: 'Syncopate', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.tasks-header {
	background: #fae596;  /* #FFF9A0; */
	border-bottom: 2px solid #E74430;
	padding-left: 5px;
}

.task-title a {
	margin-bottom: 0;
	color: #3fb0ac;
}

.task-title a:hover {
	font-size: 1.0em;
}

.box-shadow {
	box-shadow: 8px 8px 10px;
}
.taskBody p {
	padding-left: 10px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
}

.glyphicon-plus {
	color: #3fb0ac;
	margin-left: 10px;
}

.glypicon-plus:hover {
	text-decoration: none;
}

.buttons {
	margin: 15px 0;
}

.btn {
	margin-right: 5px;
}

.addTask h3 {
	font-family: 'Alegreya Sans', sans-serif;
}

.form label{
	font-size: 1.2em;
}

.form input[type=text]{
	background: #FFF9AA;
	border-radius: 0;
	color: black;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4em;
}

.form-group #body{
	border-radius: 0;
	background: #FFF9AA;
	color: black;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4em;
}

.mylist-img {
	background-image: url("list.png");
	background-repeat: no-repeat;
	height: 300px;
	
}


@media screen and (max-width: 600px) {

/*	.navbar-default .navbar-brand {
	    color: #efefef;
	    font-size: 3.8em;
	}

	.navbar-default .navbar-brand:hover {
		color: #efefef;
		 font-size: 3.8em;
	}
*/
}

